google-cloud-aiplatform>=1.39.0
google-cloud-dialogflow-cx>=1.34.0
google-cloud-discoveryengine>=0.11.10
google-auth>=2.27.0
google-oauth
oauth2client
pandas
tabulate
gspread==5.10.0
gspread_dataframe
numpy
requests
pylint==2.8.3
pytest==6.0.2
pytest-cov==2.11.1
pytest-xdist==2.1.0
pyyaml
rouge-score
torch
transformers
tqdm
